.sidebar {
    user-select: none;
    position: fixed;
    top: 2%;
    left: 0.5%;
    height: 96%;
    max-width: 6vw;
    min-width: 5vw;
    background-color: #048097; /* culoarea de fundal a barei laterale */
    border-radius: 1vw;
    display: flex; /* Utilizarea flexbox */
    flex-direction: column; /* Direcția coloanelor */
    align-items: center; /* Așezați elementele pe axa orizontală */
}

#navbar {
    list-style: none;
    padding: 15px;
    display: flex; /* Utilizarea flexbox */
    flex-direction: column; /* Direcția coloanelor */
    justify-content: space-between; /* Așezați elementele între spațiile libere */
    height: 100%; /* Asigurați-vă că înălțimea este 100% pentru a utiliza space-between */
    align-items: center; /* Așează iconurile pe axa verticală în mijlocul barei laterale */
}

#navbar li {
    margin-bottom: 45%;
}

#navbar li a {
    display: flex; /* Utilizarea flexbox */
    padding: 1vw;
    border-radius: 20%;
    color: #ECFCFF; /* culoarea textului */
    transition: background-color 0.3s ease;
    transition: 0.3s;
}

#navbar li a:hover,
#navbar li a:hover ~ svg{

    background-color: #ECFCFF; 
    color: #048097;
    
}
i{
    display: flex; /* Utilizarea flexbox */
    align-items: center; /* Așezați elementele pe axa orizontală */
    padding: 2vh;
    transition: background-color 0.3s ease;
    transition: 0.3s;
}
/* Stilizare pentru iconuri */
 li svg {
        height: 30px; 
        width: 30px;
    
}
#navbar li:last-child {
    margin-top: auto;
    margin-bottom: 0;
}

#navbar li.active a {
    background-color: #ECFCFF;
    color: #048097;
}
#navbar li.active a:hover {
    border-radius: 10%;
}
#navbar li.active .tooltip {
    opacity: 1;
    transform:  translateY(-3%);
}

.tooltip{
    pointer-events: none;
    user-select: none;
    position: absolute;
    height: 10%;
    width: 100%;
    left: 0%;
    font-size: 80%;
    background: transparent;
    text-align: center;
    transform:  translateY(-50%);
    opacity: 0;
    color: #ECFCFF;
}

#navbar li a:hover ~.tooltip,
#navbar li i:hover ~.tooltip

{
    opacity: 1;
    transition: all 0.5s ease;
    transform:  translateY(-3%);

}


@media screen and (max-aspect-ratio: 1) {
    .sidebar {
        top: 92%;
        left: 10%;
        height: 10%;
        max-width: 80%;
        min-width: 80%;
        flex-direction: row;
        align-items: center;
        padding: 0;
        max-height: 7%;
        min-height: 7%;
        border-radius: 2vh;
    }

    #navbar {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    #navbar li a {
        display: flex; /* Utilizarea flexbox */
        padding: 30px; /* Dimensiune fixă pentru padding */
        transition: background-color 0.3s ease;
        border-radius: 10px; /* Dimensiune fixă pentru border-radius */
        transition: 0.3s;
    }

    #navbar li a,
    #navbar li:last-child {
        padding: 15px; /* Dimensiune fixă pentru padding */
    }

     li svg {
        height: 2vh; /* Dimensiune fixă pentru SVG */
        width: 2vh; /* Dimensiune fixă pentru SVG */
        transition: 0.3s;
    }


    #navbar li,
    #navbar li:last-child {
        margin: 0; 
    }
    

    #navbar li.active .tooltip,
    #navbar li:hover .tooltip,
    #navbar li:hover .tooltip,
    #navbar li a:hover ~ .tooltip,
    #navbar li i:hover ~ .tooltip {
        opacity: 0;
    }
}


@media screen and (max-aspect-ratio: 17/19.5) {
    .sidebar {
        top: 93%;
        left: 0%;
        height: 10%;
        max-width: 100%;
        min-width: 100%;
        border-radius: 0;
    }

    #navbar {
        left: 50%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
    }
}
@media screen and (max-aspect-ratio: 1.2) {
    

    #navbar li.active .tooltip,
    #navbar li:hover .tooltip,
    #navbar li:hover .tooltip,
    #navbar li a:hover ~.tooltip,
    #navbar li i:hover ~.tooltip
    
    {
        opacity: 0;
    }
}
@media screen and (max-width: 700px) {
    #navbar li.active .tooltip,
    #navbar li:hover .tooltip,
    #navbar li:hover .tooltip,
    #navbar li a:hover ~.tooltip,
    #navbar li i:hover ~.tooltip {
        opacity: 0;
    }
}
