.AdminContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative; 
    background-color: #048097;
    height: 100vh;
    
   
    
   
}
.DepList
{
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: flex-start;
    align-items: center;
    width: 59vw;
    height: 56.5vw; /* Fixed height */
    margin-top: 1.2vw;
    margin-left: 9vw;
  
    gap:0.1vw;
}


.DepListContainer {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: flex-start;
    align-items: center;
    width: 59vw;
    height: 52vw; /* Fixed height */
   
    overflow-y: auto;
    gap: 1vw;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #048097  #E5F3FE; /* For Firefox */
}

/* Webkit (Chrome, Safari, Edge) scrollbar customization */
.DepListContainer::-webkit-scrollbar {
    width: 3vw; /* Width of the scrollbar */
}

.DepListContainer::-webkit-scrollbar-track {
    background-color: #E5F3FE; /* Color of the scrollbar track */
}

.DepListContainer::-webkit-scrollbar-thumb {
    background-color: #048097; /* Color of the scrollbar */
}

/* Remove border */
.DepListContainer {
    border: none;
}

.OthersContainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 28vw;
    height: 56.5vw;
    margin-top:1.2vw;
    border: 1px solid black;
    gap :0.1vw;

}

.AddRow
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width:50vw ;
    height: 3.9vw;
    gap:2.5vw;
   
}

.namePageDep {
    width: 20vw;
    height: 3.5vw;
    background-color: #ECFCFF; 
    border-radius: 0.7vw;
    align-items: center;
    display: flex; /* Adaugă flexbox */
    justify-content: center; /* Aliniază conținutul pe orizontală */
    flex-direction: column; /* Așază conținutul pe verticală */
    margin-left: 1.5vw;
}
.titleDep {
    text-align: center;
    font-size: 1.7vw;
    font-family: 'Arame-Mono';
    color: black;
}

.addDep {
    width: 3.5vw;
    height: 3.5vw;
    background-color: #ECFCFF; 
    border-radius: 5vw;
    display: flex;
    align-items: center; /* Aliniază conținutul pe verticală */
    justify-content: center; /* Aliniază conținutul pe orizontală */
   
}








@font-face {
    font-family: 'Arame-Mono';
    src: url('../../public/fonts/Arame-Mono.ttf') format('truetype');
}








