.HomeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; 
    background-image: radial-gradient(circle, #D9d9d9, #048097); /* gradient radial de la galben la roșu */
}

.HomeBackground-STYLE {
    
    pointer-events: none;
    width: 60%;
    height: auto; 
    padding-top: 1.5vw;
    z-index: 0;
    margin: 0 auto; 

}


.HomeContent{
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.Separator-STYLE {
    pointer-events: none;
    top :-12.5vw;
    position: absolute; 
    height: 25vw;
    width: auto;
    transition: transform 0.7s ease; 

}


.Line-STYLE {
    pointer-events: none;
    position: absolute; 
    top: -15vw; 
    right: -30vw; 
    z-index: 2;
    width: 35vw;
    height: 0.5vw;
    border-top-left-radius: 0.2vw; 
    border-bottom-left-radius: 0.2vw; 
    animation: expandLine 0.7s forwards;

}


.Line1-STYLE
{
    user-select: none;
    pointer-events: none;
    position: absolute; 
    top: 15.75vw; 
    left: -30vw; 
    z-index: 2;
    width: 0vw; 
    height: 0.5vw;
    border-top-right-radius: 0.2vw; 
    border-bottom-right-radius: 0.2vw; 
    animation: expandLine 0.7s forwards;
}




.Ellipse-STYLE
{
    position:absolute;
    top: 15vw; 
    width: 0vw;
    height: auto;
    left: 4.63vw;
    animation: expandWidth 0.3s ease forwards;
    transition: transform 0.3s ease; 
    animation-delay: 0.7s;


}

.Ellipse1-STYLE
{
    position:absolute;
    top: 15vw; 
    width: 0vw;
    height: auto;
    left: 6.73vw;
    animation: expandWidth 0.4s ease forwards;
    transition: transform 0.3s ease;
    animation-delay: 0.7s;
 

}

.Ellipse2-STYLE
{
    position:absolute;
    top: 17.1vw; 
    width: 0vw;
    height: auto;
    left: 4.63vw;
    animation: expandWidth 0.5s ease forwards;
    transition: transform 0.3s ease; 
    animation-delay: 0.7s;

}

.Ellipse-STYLE:hover,
.Ellipse1-STYLE:hover,
.Ellipse2-STYLE:hover
{
    transform: scale(1.2); 
}

.NameLabel
{
    position: absolute; 
    top: 13.7vw; 
    color: white;
    font-family: 'Arame-Mono', sans-serif;
    font-size: 1.7vw;
    font-weight: bold;
    left: -28vw;
    letter-spacing: 0.08vw;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    user-select: none;
}


.ChoiceLabel {
    position: absolute; 
    top: -13vw; 
    left: -25vw;
    color: #fff;
    font-family: 'Arame-Mono', sans-serif;
    font-size: 7.5vw;
    font-weight: bold;
    letter-spacing: 0.1vw;
    transition: transform 0.3s ease; 
    transform-origin: center;
}

.ChoiceLabel1
{
    position: absolute; 
    top: 4vw; 
    right: -27vw;
    color: #fff;
    font-family: 'Arame-Mono', sans-serif;
    font-size: 7.5vw;
    font-weight: bold;
    letter-spacing: 0.1vw;
    transition: transform 0.3s ease; 
    transform-origin: center;
}

@keyframes expandWidth {
    from {
      width: 0vw;
    }
    to {
      width: 1.65vw; /* Dimensiunea finală */
    }
  }
  @keyframes expandLine {
    from {
      width: 0vw;
    }
    to {
      width: 33.75vw; /* Dimensiunea finală */
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


@font-face {
    font-family: 'Arame-Mono';
    src: url('../../public/fonts/Arame-Mono.ttf') format('truetype');
}
